<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
  <div class="card pt-3" style="width: 36rem; background-image: url('<%= image_path 'light3.jpg' %>')">
    <div class="card-body">
      <h5 class="card-title">Cocktail: <%= @cocktail.name %></h5>
      <p class="card-text">
        <% @cocktail.doses.each do |dose| %>
        <p> Ingredient: <%= dose.ingredient.name %> </p>
        <p> Amount: <%= dose.description %> | <%= link_to "Delete", dose, method: :delete, data: { confirm: "Are you sure? "}%> </p>
        <i class="fas fa-trash"></i>
        <% end %>
      </p>
        <div>
          <a> <%= link_to 'Add an Ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></a>
          <a> <%= link_to 'Back to Cocktails', cocktails_path, class: "btn btn-primary" %></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



