<%= link_to 'Back to Cocktails', cocktails_path, class: "btn btn-primary" %>

<h1>Cocktail: <%= @cocktail.name %> <br>
Anything missing?</h1>
<br>
<h2>Add an ingredient below:</h2>

<%= link_to 'Ingredients', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
<table>
  <% @cocktail.doses.each do |dose| %>
  <tr>
    <td><%= dose.ingredient.name %> </td>
    <td><%= dose.description %> | <%= link_to "Delete", dose, method: :delete, data: { confirm: "Are you sure? "}%> </td>
  </tr>
  <% end %>
</table>
